.education-title {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.education-list {
  font-size: 3rem;
}

.education-degree {
  font-size: 2rem;
  font-weight: 600;
}

.education-place {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--foreground-color-20);
  display: flex;
  justify-content: space-between;
}

.education-place p {
  font-size: 1.8rem;
  font-weight: 500;
}

.education-grade {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.education-courses {
  margin-bottom: 2rem;
}

.education-courses p {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.education-courses li {
  font-size: 1.7rem;
}

.education-date {
  font-size: 1.6rem !important;
  font-style: italic;
}
