ul li {
  font-size: 2rem;
}

.experience-designation {
  font-size: 2rem;
  font-weight: 600;
  color: var(--foreground-color-10);
  margin-top: 0.5rem;
}

.experience-details {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  text-align: justify;
  gap: 1rem;
}

.experience-details p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--foreground-color-30);
}

.experience-details ul {
  margin-left: 2rem;
  padding-left: 0;
}

.experience-details li {
  font-size: 1.6rem;
}
