.about-greetings {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-introduction {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.about-experience {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.about-research-introduction {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.about-research-interests {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.about-open-to-position {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.about-contact-me {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}
