.project-directory strong {
  font-size: 2rem;
  font-weight: 600;
}

.project-directory,
.project-directory ul {
  font-size: 3rem;
}

.project-directory a {
  font-size: 1.8rem;
  color: var(--foreground-color-20);
}

.all-project-container {
  margin-bottom: 2rem;
}

.project-container {
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.project-name,
.project-name strong,
.project-name span {
  font-size: 1.8rem;
}

.project-description,
.project-description strong,
.project-description span {
  font-size: 1.7rem;
  text-align: justify;
}

.project-tool,
.project-tool strong,
.project-tool span {
  font-size: 1.6rem;
}

.project-link,
.project-link strong,
.project-link span,
.project-link a {
  font-size: 1.6rem;
}

.project-name strong,
.project-description strong,
.project-tool strong,
.project-link strong {
  text-transform: uppercase;
}
