:root {
  --background-color: #f8fffc;
  --foreground-color: #242424;
  --foreground-color-10: #3a3a3a;
  --foreground-color-20: #505050;
  --foreground-color-30: #666666;
  --foreground-color-40: #7c7c7c;
  --foreground-color-50: #929292;
  --foreground-color-60: #a7a7a7;
  --secondary-color: #04aa6d;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
}
/* common classes */

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  display: flex;
  min-height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
}

/* nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 0 2rem;
  padding-bottom: 1.5rem;
  position: sticky;
  top: 0rem;
  background-color: var(--background-color);
  z-index: 1000;
}

nav a {
  color: var(--foreground-color-20);
  text-decoration: none;
}

.selected {
  color: var(--secondary-color) !important;
  text-decoration: underline;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

nav ul li {
  font-size: 3rem;
}

.page-name {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.footer {
  height: 3rem;
  width: 100%;
  color: var(--background-color);
  background-color: var(--foreground-color-20);
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 1rem;
}

/* body */

.main-body {
  width: 70rem;
}

/* sidebar */

.side-bar {
  width: 30rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

/* profile */
.profile {
  margin-left: 1rem;
  position: sticky;
  top: 10rem;
}

.profile-img {
  width: 20rem; /* Set desired width */
  height: 20rem; /* Set desired height */
  border-radius: 50%; /* This makes it round */
  object-fit: cover; /* Ensures the image is properly contained */
  margin-bottom: 2rem;
}

.profile-name {
  font-size: 3rem;
  font-weight: 700;
}

.profession {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.profile-icon {
  color: var(--foreground-color-20);
}

.profile-link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--foreground-color);
  align-items: center;
  justify-content: start;
  margin-left: 1rem;
}

.scroll-btn {
  /* position: sticky; */
  margin-top: 8rem;
  margin-left: 8rem;
  width: 3rem;
  height: 3rem;
  display: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.scroll-btn i {
  font-size: 3rem;
  color: var(--secondary-color);
}

.burger {
  display: none; /* Initially hidden for larger screens */
  flex-direction: column; /* Stack lines vertically */
  cursor: pointer; /* Change cursor to pointer */
  padding: 0.5rem; /* Padding around the button */
  margin-top: 1rem;
}

.line {
  height: 0.3rem; /* Height of each line */
  width: 3rem; /* Width of each line */
  background-color: var(--foreground-color); /* Color of the lines */
  margin: 0.3rem 0; /* Space between lines */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* For tablets (screen width between 768px and 1024px) */
/* @media (max-width: 1024px) and (min-width: 768px) {
} */

/* For mobile devices (screen width less than 768px) */
@media (max-width: 920px) {
  nav {
    justify-content: space-between;
  }

  main {
    margin: 0;
  }

  .side-bar {
    display: none;
  }

  .main-body {
    margin: 0 auto;
    width: 90%;
    min-width: 40rem;
  }

  .burger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--foreground-color-10);
    color: var(--foreground-color-60);
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    padding: 1rem;
    gap: 0;
  }

  .burger {
    display: block;
  }

  .nav-active {
    display: flex;
  }

  .page-name {
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }
}
