:root {
  --background-color: #f7f4ed;
  --foreground-color: #242424;
  --foreground-color-20: #505050;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
}

/* common classes */

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* body */

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

main {
  display: flex;
}

#main-body {
  flex: 7;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
}

/* nav */

nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 1rem 5rem;
}

nav a {
  color: var(--foreground-color-20);
  text-decoration: none;
}

nav #nav-title {
  flex: 3;
  font-size: 3rem;
}

nav ul {
  flex: 7;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

nav ul li {
  font-size: 3rem;
}

/* main body */
#main-body {
  font-size: 3rem;
}

/* sidebar */

#side-bar {
  flex: 3;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

/* profile */

#profile-img {
  width: 20rem; /* Set desired width */
  height: 20rem; /* Set desired height */
  border-radius: 50%; /* This makes it round */
  object-fit: cover; /* Ensures the image is properly contained */
  margin-bottom: 2rem;
}

#profile-name {
  font-size: 3rem;
  font-weight: 700;
}

#profession {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.profile-icon {
  color: var(--foreground-color-20);
}

.profile-link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 3rem;
  text-decoration: none;
  color: var(--foreground-color);
  align-items: center;
  margin-bottom: 1rem;
}
